<!--
addDoctor.html
Author: Hanna Veldhuizen
This page handles adding new records to the Doctor table. ID, first name,
last name, and DOB cannot be left blank in order to submit this form.
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Doctor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
<h1>Adding a Doctor</h1>
<form action="#" th:action="@{/addDoctor}" th:object="${doctor}" method="post">
    <p>ID: <input type="text" th:field="*{DID}" required/></p>
    <p>First Name: <input type="text" th:field="*{firstName}" required/></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" required/></p>
    <p>DOB: <input type="date" th:field="*{DOB}" required/></p>
    <p>Status: <select th:field="*{status}">
        <option value=""></option>
        <option value="visiting">Visiting</option>
        <option value="trainee">Trainee</option>
        <option value="tenured">Tenured</option>
    </select>
    </p>
    <p>Department ID: <input type="text" th:field="*{deptID}"/></p>
    <p>Office Number: <input type="text" th:field="*{officeNumber}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

    <h1>Result</h1>
    <p>Doctor Added: </p>
    <p th:text="'id: ' + ${doctor.DID}" />
    <p th:text="'First Name: ' + ${doctor.firstName}" />
    <p th:text="'Last Name: ' + ${doctor.lastName}" />
</div>
</body>
</html>
