<!--
addNurse.html
Author: Hanna Veldhuizen
This page handles adding new records to the Nurse table. ID, first name,
last name, and DOB cannot be left blank in order to submit this form.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Nurse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
<h1>Adding a Nurse</h1>
<form action="#" th:action="@{/addNurse}" th:object="${nurse}" method="post">
    <p>ID: <input type="text" th:field="*{NID}" required /></p>
    <p>First Name: <input type="text" th:field="*{firstName}" required /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" required /></p>
    <p>DOB: <input type="date" th:field="*{DOB}" required /></p>
    <p>Department ID: <input type="text" th:field="*{deptID}"/></p>
    <p>Room Number: <input type="text" th:field="*{roomNumber}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
    <h1>Result</h1>
    <p>Nurse Added:</p>
    <p th:text="'id: ' + ${nurse.NID}" />
    <p th:text="'First Name: ' + ${nurse.firstName}" />
    <p th:text="'Last Name: ' + ${nurse.lastName}" />
</div>
</body>
</html>
