<!--
addPayment.html
Author: Hanna Veldhuizen
This page handles adding new records to the Payment table. Only the payment date can be left blank in order to submit this form.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Payment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
    <h1>Adding a Payment</h1>
    <form action="#" th:action="@{/addPayment}" th:object="${payment}" method="post">
        <p>Payment ID: <input type="text" th:field="*{payID}" required /></p>
        <p>PID: <input type="text" th:field="*{PID}" required /></p>
        <p>Amount Due: <input type="text" th:field="*{amountDue}" required /></p>
        <p>Due Date: <input type="date" th:field="*{dueDate}" required /></p>
        <p>Status: <input type="text" th:field="*{status}" required /></p>
        <p>Payment Date: <input type="date" th:field="*{paymentDate}" /></p>
        <p>EID: <input type="text" th:field="*{EID}" required/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
