<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
    <h1>Adding a Patient Record</h1>
    <form action="#" th:action="@{/addRecord}" th:object="${record}" method="post">
        <p>Record Number: <input type="text" th:field="*{recordNum}" required /></p>
        <p>Appointment Number: <input type="text" th:field="*{apptNum}" required /></p>
        <p>Reason: <input type="date" th:field="*{reason}" required /></p>
        <p>Date Checked In: <input type="date" th:field="*{initialHospDate}" required /></p>
        <p>Expected Discharge Date: <input type="date" th:field="*{expDischargeDate}" /></p>
        <p>Actual Discharge Date: <input type="date" th:field="*{actualDischargeDate}" /></p>
        <p>Method of Treatment: <input type="date" th:field="*{treatmentMethod}" /></p>
        <p>Doctor ID: <input type="text" th:field="*{DID}"/></p>
        <p>Room Number: <input type="text" th:field="*{hospRoom}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
