<!--
deletePharmacist.html
Author: Hanna Veldhuizen
This page is used to delete a record from the Pharmacist table. All fields must
be filled out to submit the form. The record with matching ID, first name, and l
ast name will be deleted.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Pharmacist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
    <h1>Delete a Pharmacist</h1>
    <form action="#" th:action="@{/deletePharmacist}" th:object="${pharmacist}" method="post">
        <p>ID: <input type="text" th:field="*{phID}" required /></p>
        <p>First Name: <input type="text" th:field="*{firstName}" required /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" required /></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Result</h1>
    <p>Pharmacist Deleted: </p>
    <p th:text="'id: ' + ${pharmacist.phID}" />
    <p th:text="'First Name: ' + ${pharmacist.firstName}" />
    <p th:text="'Last Name: ' + ${pharmacist.lastName}" />

</div>
</body>
</html>
