<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Staff</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
    <h1>Delete a Staff Member</h1>
    <form action="#" th:action="@{/deleteStaff}" th:object="${staff}" method="post">
        <p>ID: <input type="text" th:field="*{SID}" required /></p>
        <p>First Name: <input type="text" th:field="*{firstName}" required /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" required /></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Result</h1>
    <p th:text="'Staff Deleted:\nid: ' + ${staff.NID}" />
    <p th:text="'First Name: ' + ${staff.firstName}" />
    <p th:text="'Last Name: ' + ${staff.lastName}" />

</div>
</body>
</html>