<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Department</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
    <h1>Updating a Department</h1>
    <form action="#" th:action="@{/updateDepartment}" th:object="${department}" method="put">
        <p>ID: <input type="text" th:field="*{deptID}" required/></p>
        <p>Department Name: <input type="text" th:field="*{deptName}" /></p>
        <p>Building Name: <input type="text" th:field="*{buildingName}" /></p>
        <p>Office Number: <input type="text" th:field="*{officeNum}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
