<!--
updateRecord.html
Author: Hanna Veldhuizen
This form is used to update a patient record in the Record table. Enter the ID
for the record you would like to update, and then any new values in the fields
following. If there is no record that matches the ID you entered, nothing
will be updated.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="content" style="padding-left:15px">
    <h1>Updating a Patient Record</h1>
    <form action="#" th:action="@{/updateRecord}" th:object="${record}" method="post">
        <p><b>Enter the ID for the record you wish to update: </b></p>
        <p>Record Num: <input type="text" th:field="*{recordNum}" required /></p>
        <p><b>Enter new values below:</b></p>
        <p>Expected Discharge Date: <input type="date" th:field="*{expDischargeDate}" /></p>
        <p>Actual Discharge Date: <input type="date" th:field="*{actualDischargeDate}" /></p>
        <p>Method of Treatment: <select th:field="*{treatmentMethod}">
            <option value=""></option>
            <option value="Surgical">Surgical</option>
            <option value="Medical">Medical</option>
            <option value="Physical therapy">Physical Therapy</option>
        </select>
        </p>
        <p>Doctor ID: <input type="text" th:field="*{DID}"/></p>
        <p>Room Number: <input type="text" th:field="*{hospRoom}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
